<div class="container" style="padding-top: 20px;">
  <h2>Contact</h2>
  <ul>
    <li><fa-icon [icon]="faEnvelope"></fa-icon> Email: <a href="email:youthcode.project@gmail.com">youthcode.project@gmail.com</a></li>
    <li><fa-icon [icon]="faFacebook"></fa-icon> Facebook: <a href="https://facebook.com/1768535283160892">YouthCode Project</a></li>
    <li><fa-icon [icon]="faGitHub"></fa-icon> GitHub: <a href="https://github.com/YouthCodeProject">@YouthCodeProject</a></li>
  </ul>
  <app-facebook-page-plugin></app-facebook-page-plugin>
</div>