<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to
      <b>YouthCode</b>
    </h1>
    <p class="lead">and discover our project...</p>
  </div>
</div>

<div class="container">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Find us on Facebook
      </div>
      <div class="fb-page" data-href="https://www.facebook.com/YouthCodeProject" data-tabs="timeline" data-height="450" data-small-header="false"
        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/YouthCodeProject" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/YouthCodeProject">YouthCode Project</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>